<footer>

  <img src="/assets/images/HiVaRiX.png">

  <div class="socials">
    <a href="https://facebook.com/hivarix"><i class="fab fa-facebook-f"></i></a>
    <a href="https://instagram.com/hivarix"><i class="fab fa-instagram"></i></a>
    <a href="https://x.com/hivarix"><i class="fab fa-x-twitter"></i></a>
    <a href="https://tiktok.com/@hivarix"><i class="fab fa-tiktok"></i></a>
    <a href="https://youtube.com/@hivarix"><i class="fab fa-youtube"></i></a>
  </div>

  <div class="legal-footer">
    <p>Copyright © 2026 HiVaRiX Global. All rights reserved.</p>

    <div class="legal-links">
      <a href="/privacy/">Privacy Policy</a><span>•</span>
      <a href="/terms/">Terms of Use</a><span>•</span>
      <a href="/refunds/">Sales and Refunds</a><span>•</span>
      <a href="/legal/">Legal</a><span>•</span>
      <a href="/sitemap/">Site Map</a>
    </div>
  </div>

</footer>
